@model CompletedViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        @{
            ViewData["Title"] = "Completed";
        }
    </title>
</head>
<body>
    <h2><strong>Completed Todo</strong></h2>
    <p>
        <a asp-area="" asp-action="Index">See Active todo</a>
    </p>
    @if (Model.Items.Count() != 0)
    {
        foreach (var todo in Model.Items)
        {
            <hr />
                <h4><strong>@todo.Text</strong></h4>
                    <p>
                        <h5>Date due: @todo.DateDue</h5>
                        <h5>Date completed: @todo.DateCompleted</h5>
                        <a asp-action="RemoveFromCompleted" asp-route-id="@todo.Id"><strong>Remove from completed</strong></a>
                    </p>

        }

    }
    else
    {
        <hr />
            <h4>There is no completed todos.</h4>

    }

</body>
</html>