@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>App for managing your Todos. You can't add the same Todo twice, nor the same label(case insensitive).</p>
